@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 25%;
        max-width: 100%;
    }
}

.carousel-multi-item-2 .card img {
    border-radius: 2px;
}

.img-gallery {
    width: 100%;
    height: 80%;
}

.row-gallery {
    margin-top: 2%;
}